body {
    color: rgb(252, 252, 252);
    background-color: rgb(247, 225, 230);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

ul {
    display: flex;
    justify-content: space-between ;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(173, 152, 112);
}  

.center {
    text-align: center;
}